.Navbar{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:100px;
    text-align: center;
    margin: auto;
    /* margin-top: 10px; */
    /* border:1px solid gray; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 5px;
    /* background-color: black;
    color:white; */
    padding-top:10px;
    align-items: center;
}
.Navbar>div{
    margin-left: 30px;
    margin-right: 30px;
}

.Navbar > div:last-child>button{
    border: none;
    margin-bottom: 10px;
    padding: 5px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .Navbar{
        gap: 50px;
    }
}
@media screen and (max-width: 380px){
    .Navbar{
        width: 115%;
        justify-content: center;
    }
}
